.otsikoStyle {
  color: #ffffff;
  font-size: 30px;
  -webkit-text-stroke: 1px #3ac162;
  text-shadow: 0px 2px 2px #00264d;
  text-align: center;
}

.otsikoStyle1 {
  color: #ffffff;
  font-size: 20px;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 0px 2px 2px #5b5b5b;
  text-align: center;
  font-weight: 800;
}

.otsikoStyle2 {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin-top: 15% !important;
}

.helpDialogStyle {
  margin-left: 8px;
}

.otsikoStyle2Help {
  color: #ffffff;
  font-size: 24px;
  -webkit-text-stroke: 1px #3ac162;
  text-shadow: 0px 2px 2px #00264d;
  margin-left: 15px;
  margin-bottom: 20px;
}

.otsikoStyle3Help {
  color: #ffffff;
  font-size: 20px;
  -webkit-text-stroke: 1px #3ac162;
  text-shadow: 0px 2px 2px #00264d;
  margin-left: 5px;
  margin-bottom: -20px;
}

.homeotsikoStylepolicy {
  color: #ffffff;
  font-size: 30px;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 0px 2px 2px #5b5b5b;
  text-align: left;
}

.homeotsikoStyleHelp {
  color: #ffffff;
  font-size: 18px;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 0px 2px 2px #5b5b5b;
  margin-left: 20px;
}

.otsikoStylepolicy {
  color: #ffffff;
  font-size: 30px;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 0px 2px 2px #5b5b5b;
  text-align: left;
}

.messageTopSupport {
  margin-top: 50px;
}

.div1 {
  font-size: 14px;
  color: #5b5b5b;
  padding-top: 20px;
}

.div2 {
  font-size: 14px;
  color: #5b5b5b;
  padding-top: 20px;
  font-weight: bold;
}

.div3 {
  font-size: 12px;
  color: #000000;
}

.qRCode {
  margin-top: 10px;
  margin-bottom: 10px;
}

.qRCode1 {
  margin-top: 30px;
  margin-right: -110px;
}

.div17text,
.div7text,
.div107 {
  color: #ffffff;
  font-size: 11px;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 0px 2px 2px #5b5b5b;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.div8 {
  font-size: 12px;
  text-align: center;
  color: #5b5b5b;
}

.div4 {
  font-size: 12px;
  color: #5b5b5b;
  padding-top: 20px;
}

.divHelp {
  font-size: 12px;
  text-align: center;
  color: #5b5b5b !important;
  background-color: #ffffff !important;
}